:root {
    /* declare a variable with `--` syntax */
    --dark: darkslategrey;
    --light: #fff;
    --navlink-color: #b9c6ae;
}

* {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

h2 {
    font-family: serif;
    color: #fff;
    font-size: 185%;
}

/*Styles for Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1%;
    /* use CSS var() function to reference a variable created above */
    background-color: var(--dark);
    color: var(--light);
}

header img {
    width: 15%;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

header nav a {
    background-color: unset;
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
}

/*Styles for Header*/


/*Styles for main image*/
.head-img {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
}

.head-img img {
    flex-shrink: 0%;
    min-width: 100%;
    min-height: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: 1;
    background-color: darkslategrey;
    padding: 0.5rem;
    text-align: left;
    border-right: #13293d;
}

article {
    flex: 3;
    flex-direction: row;
    background-color: #fff;
    padding: 4rem;
    text-align: justify;
    display: inline-flex;
}

article p {
    font-size: 135%;
    font-family: 'Moncaco';
}

/*Styles for main image*/


/*Styles for Work image*/
.container {
    display: flex;
    flex-direction: column;
}

.container a {
    padding: 0.3rem;
}

.container img {
    width: 100%;
    height: 100%;
    display: block;
}

.container img:hover {
    opacity: 1.0;
}

.image-row {
    display: flex;
    justify-content: space-between;
}

.image-row a {
    width: 50%;
    height: auto;
}

.image-row img:hover {
    opacity: 1.0;
}

.img_bkgrd {
    opacity: 0.2;
}

/*Styles for Work section*/


/*Styles for Footer section*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    /* use CSS var() function to reference a variable created above */
    background-color: var(--dark);
    color: var(--light);
}

footer h2 {
    padding-left: 0.5rem;
}

footer div {
    display: inline-block;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

footer li {
    margin-right: 1rem;
}

footer a {
    display: flex;
    background-color: unset;
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: none;

}

.list-wrapper {
    flex: 0 0 57%;
}

/*Styles for Footer section*/

@media screen and (max-width: 768px) {

    main {
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    footer li {
        flex: 0 0 10%;
    }

}